.Signup-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupborder {
    position: relative;
    background-color: black;
    border-radius: 3px;
    border: 2px solid white;
    padding: 30px;
    width: 350px;
    height: auto;

}
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

.heading {
    color: white;

}

.form-control {
    background-color: gray;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    color:white;

}

.SocialLinks {
    display: flex;
    justify-content: space-between;
    gap: 10px;


}

.facebook {

    background-color: #1877F2;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-weight: bold;
}

.google {
    background-color: red;
    color: white;
    border: none;
    width: 100%;
    padding: 3px;
    border-radius: 2px;
    font-weight: bold;
}

.twitter {
    background-color: rgb(49, 164, 210);
    color: white;
    border: none;
    padding: 3px;
    width: 100%;
    border-radius: 2px;
    font-weight: bold;
}
/*Mobile*/
@media (min-width:0px) and (max-width:480px) {
    .signupborder{
      width: 90%;
      padding: 20px;
    }
    .heading{
        font-size: 20px;
    }
    .form-control{
        font-size: 16px;
    }
    .SocialLinks{
        flex-direction: column;
    }
    .facebook,.google,.twitter{
        width: 100%;
    }
}

